.MuiGrid-root * {
  text-align: center !important;
}

.MuiGrid-root > * {
  margin: 2rem 0 !important;
}
.app,
.laps {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  height: 70vh;
  border-radius: 8px !important;
  justify-content: space-around !important;
}

.app * {
  color: #000000 !important;
}
.app > * {
  padding: 2rem !important;
}
.MuiButton-root {
  border-color: rgba(85, 71, 167, 0.678) !important;
}
.MuiButton-root:hover {
  background-image: linear-gradient(
    83.2deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgb(99 88 238 / 77%) 94.3%
  );
}
.MuiButton-root:disabled {
  color: #332e2e63 !important;
  border-color: #352f2f63 !important;
}
.MuiBox-root {
  text-align: center !important;
  background-color: #add8e69e !important;
  padding: 4px !important;

  color: black !important;
}
body {
  background-color: #bfb3cd80 !important;
}
body * {
  box-sizing: border-box;
}
.laps > .MuiBox-root,
#btn-clear {
  width: 75% !important;
  margin: 0 auto !important;
}
